h1, h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  @include media-query(palm) {
    font-size: 36px;
  }
}

h2 {
  font-weight: 100;
  line-height: 1.2;
  @include media-query(palm) {
    font-size: 17px;
  }
}