.footer {
  margin-top: 75px;
  padding: 75px 0;
  background: #444444;
  color: rgba(white, 0.6);
  font-weight: 100;
  @include media-query(palm) {
    margin-top: 0;
  }
  position: relative;
  &:after {
    top: -15px;
    background-image: url('/static/img/serrated-top-grey.svg');
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background-repeat: repeat-x;
  }
}