.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white {
  background-color: white;
  color: #333;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-blue {
  background: #004358;
}

.bg-green {
  background: #1F8A70;
}

.bg-dark {
  color: rgba(white, 1);
}

.bg-fixed {
  background-attachment: fixed;
  background-position-y: 0;
}

.bg-clouds {
  position: relative;
  background-image: url('/static/img/home-bg-main.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 900px 180px;
  &:after,
  &:before {
    content: '';
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
  }
  &:after {
    left: 0;
    background: url('/static/img/home-bg-left-01.svg') bottom left;
  }
  &:before {
    right: 0;
    background: url('/static/img/home-bg-right-01.svg') bottom left;
  }
}

.bg-texture--sos {
  background-image: url('/static/img/sos.png');
}

.border-serrated-ends {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background-repeat: repeat-x;
  }
  &:before {
    bottom: -15px;
    background-image: url('/static/img/serrated-bottom.svg');
  }
  &:after {
    top: -15px;
    background-image: url('/static/img/serrated-top.svg');
  }
}

$yellow: #FFD34E;

$bgColors: #124858, #BD4932, #ECF0F1, $yellow, #2980B9;
$colors: #FFFFFF, #FFFFFF, #2980B9, #FFFFFF, #FFFFFF;
$btnBgColors: #2C3E50, #2C3E50, #2C3E50, #FFFFFF, #2C3E50;
$btnColors: #FFFFFF, #FFFFFF, #FFFFFF, #3498DB, #FFFFFF;
@for $i from 1 through length($bgColors) {
  $bgColor: nth($bgColors, $i);
  $color: nth($colors, $i);
  $btnBgColor: nth($btnBgColors, $i);
  $btnColor: nth($btnColors, $i);
  .color-#{$i} {
    &, * { color: $bgColor; }
  }
  .bg-color-#{$i} {
    &, .banner__content {
      background-color: $bgColor;
      color: $color;
    }
    .btn {
      background-color: $btnBgColor;
      color: $btnColor;
      border-color: $btnBgColor;
      &:hover, &:focus {
        background-color: $btnColor;
        color: $btnBgColor;
      }
    }
  }
}