$bgColors: #2C3E50, #E74C3C, #ECF0F1, #3498DB, #2980B9;
$colors: #FFFFFF, #FFFFFF, #2980B9, #FFFFFF, #FFFFFF;
@for $i from 1 through length($bgColors) {
  $bgColor: nth($bgColors, $i);
  $color: nth($colors, $i);
  .color-#{$i} {
    color: $bgColor;
  }
  .bg-color-#{$i} {
    background-color: $bgColor;
    color: $color;
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white {
  background-color: white;
  color: #333;
}

.bg-blue {
  background: #004358;
}

.bg-green {
  background: #1F8A70;
}

.bg-light {
  color: rgba(white, 1);
}


.bg-fixed {
  background-attachment: fixed;
  background-position-y: 0;
}