.transition-opacity {
  @include vendor(transition, opacity 1s ease);
}

.stroke-animation {
  @include animation('stroke-animation 30s infinite');
  @include vendor(animation-timing-function, linear);
}

@include keyframes(stroke-animation) {
  0%   { stroke-dashoffset: 0;     }
  100% { stroke-dashoffset: -2000px; }
}

.scale-up--main {
  opacity: 0;
  @include vendor(transform, scale(0.95));
  @include animation('fade-in 300ms forwards, scale-up 1s forwards');
}

@include keyframes(scale-up) {
  0% {@include vendor(transform, scale(0.95));}
  100% {@include vendor(transform, scale(1));}
}

.fade-in--main {
  opacity: 0;
  @include animation('fade-in 1s forwards');
}

@include keyframes(fade-in) {
  0%   { opacity: 0;     }
  100% { opacity: 1; }
}

.fx-grow-on-hover {
  @include vendor(transform, scale(1));
  @include vendor(transition, all 400ms ease);
  &:hover {
    @include vendor(transform, scale(1.15));
  }
}


.slide-from-left {
  position: relative;
  left: 100%;
  @include animation(fade-in 1s forwards, slide-from-left 600ms 900ms ease forwards);
}

.fade-in-delayed {
  opacity: 0;
  @include animation('fade-in 1s 2s forwards');
}

@include keyframes(slide-from-left) {
  0%   { left: 100%;     }
  100% { left: 0; }
}