.app-container {
  margin: 0 auto;
  overflow: hidden;
}

.page {
  min-height: 100vh;
}

.section {
  overflow: auto;
  max-width: 860px;
  margin: 0 auto;
  @include media-query(palm) {
    width: 100%;
  }
}

.section--small {
  max-width: 500px;
}

.footer {
  margin-top: 75px;
  padding: 75px 0;
  background: #444444;
  color: rgba(white, 0.6);
  font-weight: 100;
  @include media-query(palm) {
    margin-top: 0;
  }
  position: relative;
  &:after {
    top: -15px;
    left: 0;
    background-image: url('/static/img/serrated-top-grey.svg');
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background-repeat: repeat-x;
  }
}